TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_PASSWORD=
TELEGRAM_CHANNEL_ID=
ADMIN_USER_IDS=

PROXY=
YANDEX_TOKEN=

GOOGLE_ACCOUNTS_SHEET_ID=
GOOGLE_ARCHIVE_INDEX_ID=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_TEMPLATE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_FILE=src/service_account.json
# GOOGLE_SERVICE_ACCOUNT_JSON=

BATCH_PARSE_INTERVAL_MINUTES=10
APP_TIMEZONE=Europe/Moscow
